.grid {
	/* 
	mauve foncé 18131d 
	mauve neutre 4f445a
	mauve clair 7d7883
*/
}

body {
	background: #18131d;
}

#wrapper_tetris {
	text-align: center;
	padding-top: 150px;
}

h1 {
	color: #4f445a;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100px;
	display: inline-block;
	margin: 0;
}
#menu button {
	background: #7d7883;
	border: 0;
	color: #18131d;
	font-weight: bold;
	width: 330px;
	padding: 10px 0;
	text-transform: uppercase;
	display: block;
	margin: 0 auto 10px auto;
	font-size: 30px;
}

.grid span {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	border: 1px solid black;
}

.grid span.color {
	background: black;
	color: white;
}

.grid span.first {
	clear: both;
}

.grid span.projection:not(.color) {
	background-color: grey;
}

.colorizedEmptyCellule-1 {
	background-color: blue;
}
.colorizedEmptyCellule-2 {
	background-color: purple;
}
.colorizedEmptyCellule-3 {
	background-color: yellow;
}
.colorizedEmptyCellule-4 {
	background-color: orange;
}
.colorizedEmptyCellule-5 {
	background-color: pink;
}
.colorizedEmptyCellule-6 {
	background-color: green;
}
.colorizedEmptyCellule-7 {
	background-color: aqua;
}

#nextPiece {
	position: absolute;
	right: 100px;
	top: 100px;
}
