#grid {
}

#grid span {
	width: 30px;
	height: 30px;
	display: block;
	float: left;
	border: 1px solid black;
}

#grid span.color {
	background: black;
	color: white;
}

#grid span.first {
	clear: both;
}
